#jsLab .nextButton, #jsLab .prevButton {
    text-align: center;
    border-radius: 5px;
    height: 40px;
}

#jsLab .lab-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#jsLab .lab {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#jsLab .next-prev-buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

#jsLab .lab-table {
    border: 2px solid #e1e1e1;
    border-collapse: collapse;
    width: 100%;
}

#jsLab .footer {
    margin: 0 0 20px 0;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#jsLab .showReference {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
}

#jsLab .mse-value-input {
    padding: 5px 10px;
}

#jsLab .slide {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#jsLab #slide-left-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;
}

#jsLab #slide-right-part {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;
}

#jsLab .header-buttons {
    display: inline-flex;
    padding: 10px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#jsLab .modal-body {
    width: 100%;
    text-align: center;
}

#jsLab .modal-title {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
#jsLab input::-webkit-outer-spin-button,
#jsLab input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#jsLab input[type=number] {
    -moz-appearance: textfield;
}

#jsLab .nextButton, #jsLab .prevButton, #jsLab .showReference {
    height: 40px;
}

#jsLab .lab-header_text {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    font-weight: bold;
}

#jsLab table td {
    padding: 5px;
    border: 2px solid #4ee7ff;
    width: 50px;
    text-align: center;
}

#jsLab .kernel-caption {
    font-size: 20px;
    color: #17a2b8;
    border-color: #17a2b8;
}

#jsLab .kernel {
    margin-left: 15px;
}

#jsLab .activation-func-caption {
    margin-left: 35px;
    font-size: 20px;
    color: #17a2b8;
}

#jsLab .subsampling-func-caption {
    margin-left: 35px;
    font-size: 20px;
    color: #17a2b8;
}

#jsLab .subsampling-dimension-caption {
    margin-left: 35px;
    font-size: 20px;
    color: #17a2b8;
}

#jsLab .subsampling-dimension-value {
    margin-left: 3px;
    font-size: 20px;
    color: #005465;
}

#jsLab .activation-func-value {
    margin-left: 3px;
    font-size: 20px;
    color: #005465;
}

#jsLab .subsampling-func-value {
    margin-left: 3px;
    font-size: 20px;
    color: #005465;
}

#jsLab .slide-division-line {
    border-left: 1px solid #000000;
    height: auto;
}

#jsLab .header-end-line {
    border-bottom: 1px solid #000000;
    width: auto;
}

#jsLab .footer-begin-line {
    border-top: 1px solid #000000;
    width: auto;
}

#jsLab .left-side-matrix {
    width: auto;
    text-align: center;
}

#jsLab .right-side-matrix {
    width: auto;
    text-align: center;
}

#jsLab .matrixWithAddButton {
    display: flex;
    align-items: center;
}

#jsLab .matrixWithAddButton button {
    font-size: 20px;
    padding: 0 2px 4px 2px;
}

#jsLab #addMatrixButtonModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#jsLab .addMatirx-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
#jsLab @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#jsLab @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#jsLab .close-addMatrix-modal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0.7;
}

#jsLab .close-addMatrix-modal:hover,
#jsLab .close-addMatrix-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#jsLab .addMatirx-modal-header {
    padding: 2px 16px;
    background-color: #17a2b8;
    color: white;
    flex-direction: row-reverse;
}

#jsLab .addMatirx-modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#jsLab .addMatirx-modal-body > * {
    margin: 10px 0;
}

#jsLab .addMatirx-modal-header h5 {
    font-size: 17px;
    margin-block-end: 5px;
}