#jsLab .node rect,
#jsLab .node circle,
#jsLab .node ellipse,
#jsLab .node polygon {
    stroke: #333;
    fill: #eeeeee;
    stroke-width: 1.5px;
}

#jsLab .node circle:hover
{
    cursor: pointer;
}

#jsLab .addStep, #jsLab .minusStep
{
    text-align: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

#jsLab .minusStep
{
    margin-left: 10px;
}

#jsLab .lab-header
{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#jsLab .lab
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#jsLab .steps-buttons
{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px auto;
}

#jsLab .lab-table
{
    border: 2px solid #e1e1e1;
    border-collapse: collapse;
    width: 100%;
}

#jsLab .steps
{
    margin: 20px auto;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#jsLab .maxFlow
{
    margin-top: 20px;
}

#jsLab .showReference
{
    padding-top: 5px;
    padding-bottom: 5px
}

#jsLab .maxFlow-input
{
    padding: 5px 10px;
}

#jsLab .graphComponent
{
    width: 100%;
}

#jsLab #graphContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 15px;
    width: 100%;
    height: 400px;
}

#jsLab .header-buttons
{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

#jsLab .modal-body
{
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
#jsLab input::-webkit-outer-spin-button,
#jsLab input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#jsLab input[type=number] {
    -moz-appearance: textfield;
}

#jsLab .addStep, #jsLab .minusStep, #jsLab .showReference
{
    height: 40px;
}

.lab-header_text
{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    font-weight: bold;
}